.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 50px;
    margin-bottom: 30px;
    
}

.head-links{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}

ul{
    display: flex;
    list-style-type: none ;
    margin: 0;
    padding:0;
    gap:25px;
}



.header{
    display: flex;
    justify-content: space-between;
    padding:0px 50px ;
}

.header .tt{
    display: flex;
    flex-direction: column;
    padding-left: 95px;
}

.top{
    background-color: #1F2937;
}

.ht{
    font-size: 40px;
    font-weight: bolder;
    color: #F9FAF8;
}

.lt{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 8px;
}

button{
    background-color: #3882F6;
    border: #3882F6;
    padding: 8px 9px;
    border-radius: 10%;
    
    
}

.header .cit{
    height: 200px;
    padding-right: 118px;
    width: 311px;
}

.sign{
    height: 30px;
    margin-top: 12px;
}







/* this is for the middle section */

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
    margin:24px 120px;

}


.info{
    display: flex;
    flex-direction: column ;
    height: fit-content;
    width: 200px;
    justify-content: space-between;
    
    text-align: center;
    gap: 10px;
    padding: 10px 0px;
   
}

.title{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin: 15px 0px;

}

/* this is for the quote section */

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px;
}

.aq{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    padding:0px 150px ;
}

.cq{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-right: 150px;
    margin-top: 7px;
}


/* this is for the adopt box */

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#3882F6 ;
    color: #F9FAF8;
    align-items: center;
    margin: 50px 150px;
    padding: 20px 50px ;
}

.text .call{
    font-size: 20px;
    font-weight: bold;
}

.box .sign{
    border: solid #E5E7EB;
    padding: 6px 9px;
    border-radius: 20%;
    border-width: medium;
}


/* for links */

a:link, a:visited{
    color: #F9FAF8;
    font-size: 15px;
    text-decoration: none;
}